<%- include('modules/head') %>

<main>
  <div class="content mt-xs-2 mt-md-4">
    <div class="container">
      <!-- <div class="row pb-5">
              <img src="/images/contact-us.jpg" class="img-fluid" alt="contact-us">
            </div> -->
      <div class="row pt-5">
        <div class="col-md-12">
          <h1 class="text-center">Stay Connected</h1>
        </div>
      </div>
      <div class="row pb-5">
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Full Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write your message" rows="5"></textarea>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Subscribe to our newsletter.</label>
          </div>
          <div class="pt-3">
            <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
        </form>
      </div>
      <div class="row py-2">
        <div class="text-center">
          <a href="#" style="text-decoration: none; color: inherit">
            <i class="fa-brands fa-facebook fa-2xl px-2"></i>
          </a>
          <a href="#" style="text-decoration: none; color: inherit">
            <i class="fa-brands fa-linkedin fa-2xl px-2"></i>
          </a>
          <a href="#" style="text-decoration: none; color: inherit">
            <i class="fa-brands fa-twitter fa-2xl px-2"></i>
          </a>
          <a href="#" style="text-decoration: none; color: inherit">
            <i class="fa-brands fa-google-plus-g fa-2xl px-2"></i>
          </a>
        </div>
      </div>
    </div>
</main>

<%- include('modules/foot') %>